
.navbar1 {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
}
@media (max-width: 991px) {
  .navbar1 {
    background-color: rgba(255, 255, 255, 0.707);
  }
}

.me-auto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 30%;
  border: 2px solid red;
  
}

@media (max-width: 1280px) {
  .me-auto {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    grid-template-columns: 1fr;
    border: 1px solid red;
  }
}
.logocont{
  display: grid;
  grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;

}
@media (max-width: 991px) {
  .logocont {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 991px) {
  .logo {
    width: 100%;
  }
}
.hand{
  color: #FF7402;
}

.navlogo {
  font-family: serif;
}

.nav1 {
  color: #FF7402;
  text-decoration: none;
  margin-top: 9px;
  font-family: sans-serif;
  font-size: 20px;
}


.nav1:hover {
  color: rgb(255 87 87);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 20px;
}

.nav2 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-top: 9px;
  font-family: sans-serif;
  font-size: 20px;
}
.nav2:hover {
  color: rgb(230, 92, 92);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 20px;
}

.nav3 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-top: 9px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 20px;
}
.nav3:hover {
  color: rgb(255 87 87);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 20px;
}
.nav4 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-top: 9px;
  padding-right: 50px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 20px;
}
.nav4:hover {
  color: rgb(197, 130, 130);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 20px;
}

.nav5 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid #FF7402;
  background-color: #FF7402;
  padding: 7px 30px;
  border-radius: 15px;
  font-family: Montserrat;
  font-size: 20px;
}

.nav5:hover {
  color: rgb(255 87 87);

  border: 2px solid rgb(255, 0, 0);
  border-radius: 20px;
}
